name: Website

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-site:
    name: Check and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Build @jax-js/jax
        run: pnpm install --frozen-lockfile && pnpm build

      - run: pnpm check
        working-directory: website

      - run: pnpm lint
        working-directory: website

      - run: pnpm build
        env:
          BASE_PATH: "/${{ github.event.repository.name }}"
        working-directory: website

      - name: Generate TypeDoc and add to website
        run: |
          pnpm run docs
          cp -r docs/ website/build/docs

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: website/build

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build-site
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
